.jquery-search-replace
	/ Contents of this div replaced by key up triggered jquery ajax call

	%h1
		%i.icon.icon-music
		#{@song.name}

	%i.icon.icon-user
	= link_to @song.artist.name, url_for(:artist, :show, @song.artist.id)
