.jquery-search-replace
	/ Contents of this div replaced by key up triggered jquery ajax call

	%h1
		%i.icon.icon-user
		#{@artist.name}
	- @albums.each do |album|
		%li
			%img{src: '/favicon.ico'}
			= link_to album.name, url_for(:album, :show, album.id)

