.jquery-search-replace
  / Contents of this div replaced by key up triggered jquery ajax call

  %h1 Albums
  %ul
    - @albums.each do |album|
      %li
        %img{src: '/images/icon-record.png'}
        #{album.name}